.nav_lumi_logo{
    margin-left: 150px;
}
.navbar1{
    position: absolute;
    top: 10px;
    width: 550px;
    background-color: white;
    height: 50px;
    left: 50%;
}
.navbar1 p{
    font-size: 20px;
}
.navbar2{
    padding-left: 20px;
}
.navbar3{
    padding-left: 20px;
    text-decoration: underline;
    color: rgb(140, 0, 140);
}
.navbar2:hover{
    color: rgb(140, 0, 140);
    text-decoration: underline;
}
.one{
    display: flex;
    background-color: rgb(247, 247, 247);
    
}
.oneone{
    padding: 100px;
    margin-left: 85px;
}
.one h1, h1{
    font-size: 50px;
    color: rgb(140, 0, 140);
}
h2{
    color: rgb(140, 0, 140);   
}
h4{
    font-size: 20px;
}
.one img{
    padding-left: 200px;
  height: 550px;
  width: 550px;
}
.onetwo{
    position: absolute;
    left: 38%;
}
.three{
    padding: 100px;
    justify-content: space-between;
    
}
#items{
    display: flex;
    margin-left: 90px;
}
#card{
    display: flex;
    background-color: rgb(230, 228, 228);
    width: 500px;
    height: 170px;
    margin: 20px;
}
#card img{
    height: 170px;
    width: 170px;
}
#text{
    margin-left: 40px;
    color: gray;
}
#text h3{
    font-weight: lighter;
    color: rgb(77, 77, 77);
}

#card:hover{
    background-color: rgb(140, 0, 140);
    color: white;
}
#card:hover h2, #card:hover p, #card:hover h3 {
    color: white;
}
#image img{

    width: 100%;
    height: 600px;
}

.list-unstyled li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out; 
}

.list-unstyled li a:hover {
    color: pink; 
}



.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
    color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
}

.footer-section {
    margin: 20px 0;
    flex: 1;
    min-width: 250px;
}

.footer-section h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.footer-list li a:hover {
    color: pink;
}


.footer-logo {
    margin-bottom: 15px;
    width: 150px;
}

.social-icons a {
    margin-right: 15px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: pink;
}

.certifications img {
    margin-right: 15px;
}


.footer-bottom {
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-bottom a:hover {
    color: pink;
}

